
.inpt{
    height: 3rem;
    border-radius: 0;
}
.inptb{
    height: 3rem;
    border-radius: 0;
    color: #fff;
    border-color: #fff;
}
.inptb:hover{
    background-color: #fff;
    color: black;
}
.dscvr{
   background-color: black;
   color: #fff;
   height: 2.5rem;
   width: 7rem; 
}
/* .dscvr2{
    background-color: #fff;
    color: #000;
    height: 2.5rem;
    width: 7rem; 
 } */
 .sec-img{
    border: none;
    border-radius: 0%;
 }
 /* .big-img{
    height: 600px;
    border-radius:0px;
    border: none;
    margin-bottom: 20px;
    
 } */
 .btt{
    text-decoration: none;
    color: black;
 }
 .ftr-lnk{
    text-decoration: none;
    text-align: left;
 }
 @media screen and (max-width : 650px){
    .media-class {
        font-size: 10px;
    }
    
 }
 /* @media screen and (max-width:650px) {
    .crsl{
        margin-top: 50px;
        margin-left: 15px;
    }
    
 }
 @media screen and (max-width:650px) {
    .bdy{
    
        margin-left: 15px;
    }
    
 }
 @media screen and (max-width:650px) {
    .btm-sec{
    
        margin-left: 15px;
    }
    
 } */